@{
    Layout = null;
}

<!DOCTYPE html>
<html>
    <head>
        <title>Rezultat uploada</title>
    </head>
    <body>
        <p>
            @Html.Raw(ViewData["Poruka"])
        </p>
        <a href="/index.html">Pocetna</a>
    </body>
</html>